h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #fff;
  max-width: 1440px;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}

img {
  display: block;
  object-fit: cover;
}

.cap {
  background-color: #fff;
  border-bottom: 1px solid #e7e9fc;
}

.container {
  max-width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.container-cap {
  display: flex;
  justify-content: space-between;
}

.navigation {
  display: flex;
}

.logo {
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.54px;
  text-transform: uppercase;
}

.header-link {
  padding: 24px 0;
}

.logo__item {
  color: #2e2f42;
}

.navigation__list {
  display: flex;
  column-gap: 40px;
  margin-left: 76px;
}

.link {
  font-family: "Roboto";
  font-size: 16px;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.32px;
}

.navigation__link {
  color: #2e2f42;
  font-weight: 500;
}

.navigation__link:hover,
.navigation__link:focus {
  color: #404bbf;
}

.contact {
  font-style: normal;
}

.contact__list {
  display: flex;
  column-gap: 40px;
}

.contact__link {
  color: #434455;
  font-weight: 400;
}

.contact__link:hover,
.contact__link:focus {
  color: #404bbf;
}

/* -----main----- */

.section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.hero {
  background-color: #2e2f42;
  text-align: center;
}

.hero__title {
  color: #fff;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
}

.hero__button {
  font-family: "Roboto", sans-serif;
  cursor: pointer;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.64px;
  background-color: #4d5ae5;
  padding: 16px 32px;
  border-radius: 4px;
  border: none;
  margin-top: 48px;
}

.hero__button:hover,
.hero__button:focus {
  background-color: #404bbf;
}

.title {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;
}

.text {
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.32px;
}

.skills-list {
  display: flex;
  column-gap: 24px;
}
.skills-item {
  width: calc((100% - (3 * 24px)) / 4);
}

.team {
  background-color: #f4f4fd;
}

.team__list {
  display: flex;
  column-gap: 24px;
  margin-top: 72px;
}

.team__item {
  width: calc((100% - (3 * 24px)) / 4);
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  text-align: center;
  background-color: #ffffff;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.team-title {
  padding-top: 32px;
}

.team-text {
  padding-bottom: 32px;
}

.title-second {
  color: #2e2f42;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.72px;
  text-transform: capitalize;
  text-align: center;
}

.portfolio__list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 72px;
  column-gap: 20px;
  row-gap: 48px;
}

.portfolio-title {
  padding-top: 32px;
  padding-left: 16px;
}

.portfolio-text {
  padding-bottom: 32px;
  padding-left: 16px;
}

.portfolio-border {
  border-bottom: 1px solid #e7e9fc;
  border-left: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
}

/* .portfolio__item {
  border: 1px solid #e7e9fc;
  background: #fff;
} */

.footer {
  background-color: #2e2f42;
}

.footer-container {
  padding: 101.5px 0px 100px 0px;
}

.footer__link {
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.54px;
  text-transform: uppercase;
}

.logo__footer {
  color: #f4f4fd;
}

.footer__text {
  color: #f4f4fd;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.32px;
  margin-top: 17.5px;
}
