body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #fff;
  max-width: 1440px;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.cap {
  background-color: #fff;
}

.logo {
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.54px;
  text-transform: uppercase;
}

.logo__item {
  color: #2e2f42;
}

.link {
  font-family: "Roboto";
  font-size: 16px;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.32px;
}

.navigation__link {
  color: #2e2f42;
  font-weight: 500;
}

.navigation__link:hover,
.navigation__link:focus {
  color: #404bbf;
}

.contact {
  font-style: normal;
}

.contact__link {
  color: #434455;
  font-weight: 400;
}

.contact__link:hover,
.contact__link:focus {
  color: #404bbf;
}

/* -----main----- */

.hero {
  background-color: #2e2f42;
}

.hero__title {
  color: #fff;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
}

.hero__button {
  cursor: pointer;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.64px;
  background-color: #4d5ae5;
}

.hero__button:hover,
.hero__button:focus {
  background-color: #404bbf;
}

.title {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;
}

.text {
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.32px;
}

.team {
  background-color: #f4f4fd;
}

.title-second {
  color: #2e2f42;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.72px;
  text-transform: capitalize;
  text-align: center;
}

.team__item {
  background-color: #ffffff;
}

.footer {
  background-color: #2e2f42;
}

.footer__link {
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.54px;
  text-transform: uppercase;
}

.logo__footer {
  color: #f4f4fd;
}

.footer__text {
  color: #f4f4fd;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.32px;
}
